#nav{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    list-style: none; 
    background-color: aquamarine;
} 
#nav li{
    margin: 5px; 
    padding: 10 px 15px;
} 

#nav li:hover{
    background-color: blanchedalmond;
}

#nav{
    text-decoration: none;
} 

/* modelo de caja */ 
.padre{
    background-color: aqua; 
    padding: 20px; 
} 
.hijo{
    background-color: bisque; 
    padding: 100px; 
    border: 10px solid brown; 
    margin: 30px;
} 

/* Componente */ 
#contenedor{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: brown; 
    gap: 1rem; 
} 
.card{
    width: 200px; 
    background-color: #fff; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 4px 8px black;
} 
.card img{
    width: 100%; 
    border-radius: 8px; 
} 
.card p{
    color: #fff; 
    background-color: black;
}